@tailwind base;
@tailwind components;
@tailwind utilities;

/* @tailwind components;

@layer components {
  button {
    @apply bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded;
  }
} */

@font-face {
  font-family: "Garamond";
  src: url("/Garamond.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OldStandard";
  src: url("/OldStandard.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/Inter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JeanB";
  src: url("/jeanlucweb-bold.eot");
  src: local("☺"), url("/jeanlucweb-bold.woff") format("woff"),
    url("/jeanlucweb-bold.otf") format("opentype"),
    url("/jeanlucweb-bold#webfontup15foyj") format("svg");
}

@font-face {
  font-family: "JeanT";
  src: url("/jeanlucweb-bold.eot");
  src: local("☺"), url("/jeanlucweb-thin.woff") format("woff"),
    url("/jeanlucweb-thin.otf") format("opentype"),
    url("/jeanlucweb-thin#webfontdsa4toug") format("svg");
}

@font-face {
  font-family: "Primer";
  src: url("/MDPrimer-Medium.woff2") format("woff2"),
    url("/MDPrimer-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PrimerB";
  src: url("/MDPrimer-Bold.woff2") format("woff2"),
    url("/MDPrimer-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
}

.standard-gradient {
  background: linear-gradient(
    180deg,
    #4b0082 0%,
    #4b0082 29%,
    #c8f58f 64%,
    #c8f58f 100%
  );
}
