@tailwind base;
@tailwind components;
@tailwind utilities;

/* @tailwind components;

@layer components {
  button {
    @apply bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded;
  }
} */

@font-face {
  font-family: "Primer";
  src: url("/fonts/Primer/MDPrimer-Medium.woff2") format("woff2"),
    url("/fonts/Primer/MDPrimer-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
}

.standard-gradient {
  background: linear-gradient(
    180deg,
    #4b0082 0%,
    #4b0082 29%,
    #c8f58f 64%,
    #c8f58f 100%
  );
}
