@import url("https://p.typekit.net/p.css?s=1&k=eeq0cma&ht=tk&f=53658.53659&a=23614676&app=typekit&e=css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @tailwind components;

@layer components {
  button {
    @apply bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded;
  }
} */

@font-face {
  font-family: "Primer";
  src: url("/fonts/Primer/MDPrimer-Regular.woff2") format("woff2"),
    url("/fonts/Primer/MDPrimer-Regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Primer";
  src: url("/fonts/Primer/MDPrimer-Medium.woff2") format("woff2"),
    url("/fonts/Primer/MDPrimer-Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "gyst-variable";
  src: url("https://use.typekit.net/af/621a93/000000000000000077508a98/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/621a93/000000000000000077508a98/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3")
      format("woff"),
    url("https://use.typekit.net/af/621a93/000000000000000077508a98/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3")
      format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: "gyst-variable";
  src: url("https://use.typekit.net/af/01a8ab/000000000000000077508a99/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/01a8ab/000000000000000077508a99/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("woff"),
    url("https://use.typekit.net/af/01a8ab/000000000000000077508a99/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}

.tk-gyst-variable {
  font-family: "gyst-variable", sans-serif;
}
* {
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  overscroll-behavior-y: none;
  background-color: #000;
  font-family: Primer, sans-serif;
}

.standard-gradient {
  &::before {
    background: linear-gradient(180deg, #4b0082 0%, #4b0082 60%, #c8f58f 100%);
    content: "";
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
}

.standard-gradient-rotated {
  &::before {
    background: linear-gradient(
      0deg,
      #4b0082 0%,
      #4b0082 29%,
      #c8f58f 64%,
      #c8f58f 100%
    );
    content: "";
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
}

.presentation-gradient {
  background: linear-gradient(
    180deg,
    #4b0082 0%,
    #4b0082 29%,
    #c8f58f 64%,
    #c8f58f 100%
  );
  height: 100%;
  width: 100%;
}

.presentation-gradient-rotated {
  background: linear-gradient(
    0deg,
    #4b0082 0%,
    #4b0082 29%,
    #c8f58f 64%,
    #c8f58f 100%
  );
}

.pink-gradient {
  background: linear-gradient(
    180deg,
    #4b0082 0%,
    #4b0082 15%,
    #ffb9c6 32%,
    #ffb9c6 100%
  );
}

.pink-gradient-halfscreen {
  background: linear-gradient(
    180deg,
    #4b0082 0%,
    #4b0082 50%,
    #ffb9c6 75%,
    #ffb9c6 100%
  );
}

.page-contents {
  opacity: 1;
  transition: opacity 0.3s ease-in-out 0.4s;
}
.transition-in-base .page-contents {
  opacity: 0;
  transition: opacity 0.3s ease-in-out 0.4s;
}
.transition-in-from .page-contents {
  opacity: 0;
}
.transition-in-to .page-contents {
  opacity: 1;
}
.transition-out-base .page-contents {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.transition-out-from .page-contents {
  opacity: 1;
}
.transition-out-to .page-contents {
  opacity: 0;
}

.button-with-active:active,
.button-with-active.touch-active {
  opacity: 1;
  background-color: #d9d9d9;
  border-color: #d9d9d9;
  color: #4b0082;
}

.button-disabled {
  opacity: 0.5;
}
